/* Import font-family and define root styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --color-bg: #fff;
  --color-header: #e6f0ff;
  --color-section: #f5fafe;
  --color-text-primary: #000336;
  --color-text-secondary: #000339;
  --color-subtext: #5a6473;
  --color-footer-text-primary: #1c1c1d;
  --color-footer-text: #7a7a7e;
  --color-accent: #0689ff;
}
